.item {
  display: flex;
  margin-bottom: 15px;
}
.text {
  width: 190px;
  margin-right: 25px;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(0, 110, 255);
  color: aliceblue;
  cursor: pointer;
}

.button:hover {
  background-color: blue;
}
